body {
  height: 600px;
background-color:  #737373;
  border: solid 4px black;
}

.container {

  display: flex;
  flex-direction: column;
}

nav {}

nav ul {
  background-color: #4d4d4d;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  border: solid 4px black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
}

nav ul li:hover {
  color: white;
  background-color: #555;
}

.gameborad {
  margin: 0;
  padding: 0;
  height: 150px;
  display: flex;
  justify-content: space-around;
}

.input-buttons {
  width: 71%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.one-letter-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#letter {
  margin-top: 9px;
  margin-left: 9px;
  font-size: 20px;
  height: 40px;
}

#oneLetter {
  font-size: 20px;
  height: 45px;
  margin-right: 9px;
  margin-top: 9px;
}

.full-word-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results {
  font-size: 21px;
}

.defSize {
  font-size: 16px;
}

#word {
  font-size: 20px;
  margin-left: 9px;
  height: 40px;
  margin-bottom: 9px;
}

#fullWord {
  margin-right: 9px;
  margin-bottom: 9px;
  font-size: 20px;
  height: 45px;
}

.board {
  width: 35%;
  align-items: center;
}

#gameboard {
  align-items: center;
  justify-content: center;
}

#resultsDiv {
  align-items: center;
  justify-content: center;
}

.results {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-between;
}

#heart {
  margin-top: 20px;
  height: 100px;
}

#hintsButton {
  margin-left: 10px;
  height: 40px;
  width: 70px;
  font-size: 20px;
}

#checkPlace {
  margin-right: 25px;
  padding-right: 20px;
}
